<ul th:fragment="usuario" class="dropdown-menu" aria-labelledby="${id}">
    <li>
        <a class="dropdown-item" href="#" target="_blank">
            <i class="fas fa-shopping-cart"></i> Meu carrinho
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="#" target="_blank">
            <i class="fas fa-box"></i> Meus pedidos
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="#" target="_blank">
            <i class="fas fa-key"></i> Alterar a senha
        </a>
    </li>
    <li>
        <a class="dropdown-item" href="/logout">
            <i class="fas fa-sign-out-alt"></i> Sair da conta
        </a>
    </li>
</ul>