<head th:fragment="head(titulo, cssPath)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">Sabrina Nails</title>
    <link th:replace="~{fragmentos/bootStrap :: css}" rel="stylesheet" th:href="">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" th:href="${cssPath}">
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    </style>
</head>
