<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Detalhes do Produto', '/css/novoProduto.css')}"></head>
<body>
<header th:replace="~{fragmentos/header :: headerGrande}"></header>
<div th:replace="~{fragmentos/header :: headerPequeno}"></div>

<main class="bg-pastel py-5">
  <div class="mb-4 container-buttons">
    <a class="btn btn-dourado" href="/gestao-produtos">
      <i class="fas fa-arrow-left"></i> Voltar
    </a>
    <a class="btn btn-dourado" href="/gestao-produtos/novo">
      <i class="fas fa-plus"></i> Novo
    </a>
    <a class="btn btn-dourado" th:href="@{/gestao-produtos/editar/{produtoId}(produtoId = ${produto.id})}">
      <i class="fas fa-edit"></i> Editar
    </a>
    <button class="btn btn-dourado" data-bs-toggle="modal" data-bs-target="#confirmacaoExclusao"
            th:data-produto-id="${produto.id}">
      <i class="fas fa-trash-alt"></i> Deletar
    </button>
  </div>

  <div class="container-novo">
    <h2 class="text-dourado mb-4" th:text="'Detalhes do Produto #' + ${produto.id}"></h2>

    <div class="row mb-3">
      <div class="col">
        <label for="id" class="form-label">ID</label>
        <input type="text" class="form-control" id="id" th:value="${produto.id}" disabled>
      </div>
      <div class="col">
        <label for="id" class="form-label">Código de Barras</label>
        <input type="text" class="form-control" id="codigoBarras" th:value="${produto.codigoBarras}" disabled>
      </div>
    </div>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nome" th:value="${produto.nome}" disabled>
    </div>
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <textarea class="form-control" id="descricao" rows="3" disabled th:text="${produto.descricao}"></textarea>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="preco" class="form-label">Preço</label>
        <input type="text" class="form-control" id="preco" th:value="${produto.preco}" disabled>
      </div>
      <div class="col">
        <label for="precoDePor" class="form-label">Preço DePor</label>
        <input type="text" class="form-control" id="precoDePor" th:value="${produto.precoDePor}" disabled>
      </div>
    </div>
    <div class="mb-3">
      <label for="estoque" class="form-label">Estoque</label>
      <input type="number" class="form-control" id="estoque" th:value="${produto.estoque}" disabled>
    </div>
    <div class="mb-3">
      <label for="dataCriacao" class="form-label">Criado Em</label>
      <input type="text" class="form-control" id="dataCriacao" th:value="${dataCriacao}" disabled>
    </div>
    <div class="mb-3">
      <label for="dataUltimaAtualizacao" class="form-label">Atualizado Em</label>
      <input type="text" class="form-control" id="dataUltimaAtualizacao" th:value="${dataAtualizacao}" disabled>
    </div>

    <!-- Galeria de Imagens -->
    <h4>Imagens</h4>
    <div class="galeria-fotos">
      <div class="foto-container" th:each="imagem : ${produto.imagens}">
        <img th:src="@{'/upload/' + ${imagem.nomeArquivo}}" alt="Imagem do produto" />
      </div>
    </div>
  </div>
</main>
<div class="modal fade" id="confirmacaoExclusao" tabindex="-1" role="dialog" aria-labelledby="confirmacaoExclusaoLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmacaoExclusaoLabel">Confirmar Exclusão</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        Deseja excluir este produto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        <a id="confirmarExclusao" class="btn btn-danger">Sim</a>
      </div>
    </div>
  </div>
</div>
<footer th:replace="~{fragmentos/footer :: footer}"></footer>

<script th:replace="~{fragmentos/bootStrap :: script}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var modal = new bootstrap.Modal(document.getElementById('confirmacaoExclusao'));

    // Manipulador de evento para quando o botão Deletar for clicado
    var deleteButtons = document.querySelectorAll('button[data-bs-toggle="modal"]');
    deleteButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        var produtoId = this.getAttribute('data-produto-id');
        var confirmarExclusao = document.getElementById("confirmarExclusao");
        confirmarExclusao.href = `/gestao-produtos/deletar/${produtoId}`;

        // Exibe o modal de confirmação
        modal.show();
      });
    });
  });
</script>
</body>
</html>
