<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Editar Produto #' + ${produto.id}, '/css/novoProduto.css')}"></head>
<body>
<header th:replace="~{fragmentos/header :: headerGrande}"></header>
<div th:replace="~{fragmentos/header :: headerPequeno}"></div>

<main class="bg-pastel py-5">
  <div class="container-novo">
    <h2 class="text-dourado mb-4" th:text="'Editar Produto #' + ${produto.id}"></h2>
    <form th:object="${produto}" th:action="'/gestao-produtos/editar/' + ${produto.id}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="imagensExcluidas" id="imagensExcluidas" />
      <div class="mb-3">
        <label for="codigoBarras" class="form-label">Código de Barras</label>
        <input th:field="*{codigoBarras}" name="codigoBarras" type="number" class="form-control" id="codigoBarras" required>
      </div>
      <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input th:field="*{nome}" name="nome" type="text" class="form-control" id="nome" required>
      </div>
      <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <textarea th:field="*{descricao}" name="descricao" class="form-control" id="descricao" rows="3" placeholder="Digite a descrição do produto"></textarea>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="preco" class="form-label">Preço</label>
          <div class="input-group">
            <span class="input-group-text">R$</span>
            <input th:field="*{preco}" name="preco" type="text" class="form-control format-price" id="preco" required>
          </div>
        </div>
        <div class="col">
          <label for="precoDePor" class="form-label">Preço Promocional</label>
          <div class="input-group">
            <span class="input-group-text">R$</span>
            <input th:field="*{precoDePor}" name="precoDePor" type="text" class="form-control format-price" id="precoDePor">
          </div>
        </div>
      </div>

      <!-- Container de upload de imagens -->
      <div class="image-upload-container">
        <label for="fotos" class="custom-file-label">
          <div class="upload-region">
            <i class="fas fa-upload"></i> Selecione ou arraste suas imagens aqui
          </div>
        </label>
        <input id="fotos" name="fotos" type="file" accept="image/*" multiple style="display: none;">
        <div id="preview-container" class="row gy-3">
          <div th:each="imagem : ${imagens}" class="col-md-3 position-relative">
            <img th:src="@{'/upload/' + ${imagem.nomeArquivo}}" alt="Imagem do Produto">
            <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0" th:data-imagem-id="${imagem.id}" onclick="removerImagem(this)">x</button>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-dourado mt-4 w-100">Salvar Produto</button>
    </form>
  </div>

</main>

<footer th:replace="~{fragmentos/footer :: footer}"></footer>
<script th:replace="~{fragmentos/bootStrap :: script}"></script>

<script th:src="@{/js/historyRedirect.js}"></script>

<script th:src="@{/js/produto-imagens.js}"></script>
<script>
  function formatCurrency(input) {
    let value = input.value.replace(/\D/g, ""); // Remove caracteres não numéricos
    value = (value / 100).toFixed(2); // Ajusta para duas casas decimais
    value = value.replace(".", ","); // Substitui o ponto pela vírgula
    input.value = value; // Atualiza o campo com o valor formatado
  }

  // Seleciona apenas os campos com a classe 'format-price'
  document.querySelectorAll('.format-price').forEach((input) => {
    input.addEventListener('input', () => formatCurrency(input));
  });
</script>


</body>
</html>
